

.TopBar{
    width:100%;
    height:60px;
    box-shadow: 2px 4px 4px grey;
    
    /* background-color: darkgrey; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.Logo{
    margin-left: 25px;
}
.SearchField{
    width:500px;
    height:30px;
    margin-left:100px
}

